body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fa;
}

header {
    background: #0b3d91;
    color: white;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.logo span {
    color: #ffd700;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("bank.jpg");
    background-size: cover;
    color: white;
    padding: 100px 10%;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.btn {
    background: #ffd700;
    padding: 12px 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 10%;
    background: white;
}

.box {
    width: 30%;
    padding: 20px;
    background: #f0f4ff;
    text-align: center;
    border-radius: 10px;
}

.about {
    padding: 50px 10%;
    text-align: center;
}

footer {
    background: #0b3d91;
    color: white;
    text-align: center;
    padding: 15px;
}
